#!/bin/sh
#
# ncid          Start/Stop Network Caller ID client
#
# chkconfig: 2345 95 05
# description: the ncid client sends the CID to an external program

# Source function library.
. /etc/rc.d/init.d/functions

# Source networking configuration.
. /etc/sysconfig/network

# Check that networking is up.
[ ${NETWORKING} = "no" ] && exit 0

RETVAL=0
prog="ncid"
shell="tclsh"
extprog="ncid-page"
opts="--no-gui -r 4 -A -C -P $extprog"

ConfigDir=/usr/local/etc/ncid
ConfigFile=$ConfigDir/ncidscript.conf

# source ncidinit.conf file
[ -f $ConfigFile ] && . $ConfigFile

[ -f /usr/bin/$prog ] || exit 0

start() {
        # Start daemons.
        echo -n $"Starting $prog: "
        $shell /usr/bin/$prog $opts &
        RETVAL=$?
        [ $RETVAL -eq 0 ] &&
        success $"$prog startup" ||
        failure $"$prog startup"
        echo
        [ $RETVAL -eq 0 ] && touch /var/lock/subsys/$shell
        return $RETVAL
}

stop() {
        # Stop daemons.
        echo -n $"Shutting down $prog: "
        killproc $shell
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/$shell
        return $RETVAL
}

# See how we were called.
case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  restart|reload)
        stop
        start
        ;;
  condrestart)
        if [ -f /var/lock/subsys/$shell ]; then
            stop
            start
        fi
        ;;
  status)
        status $shell
        RETVAL=$?
        ;;
  *)
        echo $"Usage: $prog {start|stop|restart|condrestart|status}"
        exit 1
esac

exit $RETVAL
