/var/log/cidcall.log /var/log/ciddata.log {
    sharedscripts
    missingok
    monthly
    compress
    prerotate
        /etc/rc.d/init.d/ncidd stop || true
        [ -x /usr/local/share/ncid/ncidrotate ] && \
            /usr/local/share/ncid/ncidrotate prerotate
    endscript
    postrotate
        [ -x /usr/local/share/ncid/ncidrotate ] && \
            /usr/local/share/ncid/ncidrotate postrotate
        /etc/rc.d/init.d/ncidd start || true
    endscript
}
