[Unit]
Description=Obsolute SIP to NCID Gateway
After=ncidd.service

[Service]
Type=simple
Environment=prog=ncidsip
PIDFile=/var/run/ncidsip.pid
ExecStart=/usr/sbin/ncidsip --pidfile /var/run/${prog}.pid $opts

[Install]
WantedBy=multi-user.target
