Source: ncid
Section: net
Priority: optional
Maintainer: John L. Chmielewski <jlc@users.sourceforge.net>
Build-Depends:
Standards-Version: 3.7.2

Package: ncid
Architecture: i386
Depends: ${shlibs:Depends}, tcl8.4, tk8.4, libpcap0.8, perl
Description: Network Caller ID server, client, and gateways
 NCID is Caller ID (CID) distributed over a network to a variety of
 devices and computers.
 .
 NCID supports messages.  Clients can send a one line message to all
 connected clients.
 .
 The server, ncidd, monitors either a modem, device or gateway for the CID
 data.  The data is collected and sent, via TCP, to one or more clients.
 The server supports multiple gateways which can be used with  or without
 a modem or device.
 .
 The client, ncid, receives the Caller ID (CID) message and displays it
 in a GUI or terminal window. The client also comes with output modules.
 One module can speak the CID, another can send the CID to a pager or cell
 phone.  There are other output modules including ones that display the
 CID on a TiVo or MythTV.
 .
 The client, ncid, normally displays the Caller ID data and the Server
 Caller-ID log in a GUI window. The client output can be changed with
 output modules. One module can speak the CID, another can send the CID
 to a pager or cell phone.  There are other output modules, including
 ones that display the CID on a TiVo or MythTV.
 .
 The SIP gateways obtain the Caller ID information from a VOIP system,
 using SIP Invite.
 .
 The YAC gateway obtains the Caller ID information from a YAC server.
