#!/bin/sh

#
# PROVIDE: ncidd
# REQUIRE: NETWORKING
#
# Add the following lines to /etc/rc.conf to enable ncidd:
#
#ncidd_enable="YES"
#
ncidd_enable="${ncidd_enable-NO}"

. /etc/rc.subr

name=ncidd
rcvar=`set_rcvar`
extra_commands="condrestart"

command=/usr/local/sbin/$name
pidfile="/var/run/${name}.pid"
command_args="--pidfile /var/run/${name}.pid"

load_rc_config $name

case $1 in
    condrestart)
        run_rc_command "stop" && run_rc_command "start"
        ;;
    *)
        run_rc_command "$1"
        ;;
esac
