#!/bin/sh

#
# PROVIDE: ncid-mythtv
# REQUIRE: NETWORKING ncidd
#
# Add the following lines to /etc/rc.conf to enable ncid-mythtv:
#
#ncidmythtv_enable="YES"
#
ncidmythtv_enable="${ncidmythtv_enable-NO}"

. /etc/rc.subr

rcvar=`set_rcvar ncidmythtv`
name=ncid
module=ncid-mythtv
pidfile=/var/run/$module.pid

ConfigDir=/usr/local/etc/ncid
ConfigFile=$ConfigDir/ncidmodules.conf

# source config file
[ -f $ConfigFile ] && . $ConfigFile

command=/usr/local/bin/$name
command_args="--no-gui -p $pidfile -C -P $module &"
procname=/usr/local/bin/tclsh8.4

load_rc_config $name
run_rc_command "$1"
