[Unit]
Description=NCID client using the MythTV Module
Wants=ncidd.service
After=ncidd.service

[Service]
Type=simple
Environment=module=ncid-mythtv
PIDFile=/var/run/ncid-mythtv.pid
ExecStart=/usr/bin/ncid --no-gui -p /var/run/${module}.pid -P $module
ExecStop=/bin/kill $MAINPID ; /bin/rm -f /var/run/${module}.pid

[Install]
WantedBy=multi-user.target
