[Unit]
Description=NCID to NCID Gateway
Wants=ncidd.service
After=ncidd.service

[Service]
Type=forking
Environment=prog=ncid2ncid
PIDFile=/var/run/ncid2ncid.pid
ExecStart=/usr/bin/ncid2ncid --pidfile /var/run/${prog}.pid

[Install]
WantedBy=multi-user.target
