[Unit]
Description=YAC to NCID Gateway
Wants=ncidd.service
After=ncidd.service

[Service]
Type=simple
PIDFile=/var/run/yac2ncid
ExecStart=/usr/bin/yac2ncid

[Install]
WantedBy=multi-user.target
